<div class="container">
<h3>
    <span class='badge-pill bg-secondary'>{{ executor.Id }}</span>
    <span class="bg-primary badge">
        {{ moment(executor.Started).format('LLL') }} ({{ moment(executor.Started).fromNow() }})
    </span>
    <span class="{{ executor.Status.label() }}"> {{ executor.Status.name }} </span>
    {% if executor.Status.name == 'Running' %}
        <a href={{ url_for('cancel', executorId=executor.Id) }}> Cancel</a>
    {% else %}
        <a href={{ url_for('delete', executorId=executor.Id) }}> Delete</a>
    {% endif %}
</h3>

</div>


