<div class="container">
<h3>
    <span class='badge-pill bg-secondary'>{{ key }}</span>
    <span class="bg-primary badge">
        {{ moment(value.Started).format('LLL') }} ({{ moment(value.Started).fromNow() }})
    </span>
    <span class="{{ value.Status.label() }}"> {{ value.Status.name }} </span>
    {% if value.Status.name == 'Running' %}
        <a href={{ url_for('cancel', executorId=value.Id) }}> Cancel</a>
    {% else %}
        <a href={{ url_for('delete', executorId=value.Id) }}> Delete</a>
    {% endif %}
</h3>

</div>


