{% extends 'base.html' %}
{% import '_logView.html' as logView %}

{% block scripts %}
    {{ super() }}
    {{ logView.logScripts() }}
{% endblock %}

{% block app_content %}
    <div class="container">
        <p>Created: {{ moment(executor.Created).format('LLL') }} ({{ moment(executor.Created).fromNow() }})</p>
        {% if executor.Started is not none %}
            <p>
                Started: {{ moment(executor.Started).format('LLL') }} ({{ moment(executor.Started).fromNow() }}, waited
                {{ moment(executor.Started).fromTime(executor.Created, no_suffix = True) }})
            </p>
        {% endif %}
        {% if executor.Finished is not none %}
            <p>
                Finished: {{ moment(executor.Finished).format('LLL') }} ({{ moment(executor.Finished).fromNow() }}, ran for
                {{ moment(executor.Started).fromTime(executor.Created, no_suffix = True) }})
            </p>
        {% endif %}
    </div>

    {{ logView.logView(executor.RetrieveLogInfo()) }}


{% endblock %}

