{% extends 'base.html' %}

{% block app_content %}
    {{ pagination.info }}
    <p></p>
    {% for experiment in experiments %}
        <div class="container">
            {% set id = experiment['Id'] %}
            <p>{{ loop.index+pagination.skip }}.
                <a href="{{ url_for('experiment.view', experimentId=experiment.Id) }}">
                ID: {{ id }} ({{ experiment['Created'] }}): {{ experiment['CoarseStatus'].name }}
            </a></p>
        </div>
    {% endfor %}
    {{ pagination.links }}
{% endblock %}