.logLine {
    font-family: Consolas;
    font-size: small;
    padding:0;
    margin:0;
    background: black;
}

.logDebug { color: darkgrey; }
.logInfo { color: aliceblue; }
.logWarning { color: gold; }
.logError { color: red; }
.logCritical { color: fuchsia; }

.hidden { display: none; }
